p {
	text-align: center;
	font-size: 8vw;
	margin-left: 15vw;
	margin-right: 15vw;
}

textarea {
	width: 85vw;
	height: 20vh;
	font-size: 7vw;
	margin-left: 15vw;
	margin-right: 15vw;
}

.wpm_acc {
	font-size: 5.5vw;
	display: inline;
	margin: 0px;
}
/*
 * formerly a restart button :)
 .restart {
	display:inline-block;font-size:7vw;padding:10px,24px;
}*/
